body {
    margin: 0;
    padding: 0;
    background: #FFF5E4;
    font-family: 'Arial', sans-serif;
} 
/* Header Styling */
header {
    position: relative;
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 50px;
    background-color: #A68D60 ;
    border-radius: 0 0 50px 50px;
    box-shadow: 0px 1px 3px 0.0000001px black;}

.main-logo img{
    width: 120px;
    height: 120px;
    border-radius: 60px;
    transition: all 0.3s ease;
}
.main-logo img:hover {
    transform: translatey(-3px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.brand-name{
    font-family: 'Courier New', Courier, monospace;
    font-size: 40px;
    font-weight: 900;
    color: #e2d5c8;
    margin-left: 200px;
}

.nav-links {
    display: flex;
    gap: 15px;
    list-style: none;
    padding: 0;
    margin: 0;
}
.links {
    display: inline-block;
    padding: 10px 15px;
    background-color: #997e64;
    border-radius: 25px;
    font-weight: 900;
    font-size: larger;
    cursor: pointer;
    transition: 0.3s ease;
}
.links a {
    text-decoration: none;
    color: #eee;
    display: block;
    padding: 10px;
    border-radius: 25px;
}
.links:hover {
    background-color: #6B4F3D;
    transform: translatey(-3px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    
}
/* Main Section */
.main-container {
    display: flex;
    align-items: center; 
    justify-content: center; 
    gap: 15px; 
    width: 100%;
} 

.welcome-message {
    font-size: 48px;
    font-weight: 700;
    font-family: "oswald", sans-serif;
    color: #4A3F35;
}
.main-content-text {
    font-family: "cairo";
    line-height: 1.6;
    font-weight: 400;
    color: #5A4E42;
    max-width: 85%;
}
.main-content {
    flex: 4;
    padding: 40px ;
    margin: 10px 20px 10px 20px ;
    font-size: 20px;
    border-radius: 40px ;
    background-color: #D5C7A3;
    text-align: left;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
/*Menu Page*/
.scroll-to-top{
    cursor: pointer;
    transition: all 0.2s ease;
    height:120px;
    width: 120px;
    font-size: 80px;
    border-radius:50%;
    padding-bottom: 30px;
    padding-top: 6px;
    margin:30px;
    position: fixed;
    bottom: 40px;
    right: 20px;
    background-color: #f0e4ce;
    border: none;
    text-align: center;
    
}
.button-text{
    position: fixed;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    bottom: -2px;
    right: 35px;
    font-size: 28px;
    font-weight: bolder;
}
.scroll-to-top:hover{
    background-color: #ababab;
}

.menu-container {
    margin: 50px;
    display: flex;
    flex-direction: row;
    flex-direction: column;
    align-items: center;
    padding: 10px 10px;
    background-color: #94846f;
    border-radius: 50px ;
    height:100%;
  
}
    
.boxs {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    display:flex;
    flex-wrap: wrap;
    padding: 20px;
    gap:300px;
    justify-content: space-evenly;
    align-content: space-evenly;
}

.box-1 {  
    background-color: #fff;
    padding: 10px;
    border-radius: 63px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    transition: transform 0.3s ease;
    justify-content: space-around;
}
.box-1:hover {
    transform: scale(1.05);
    cursor: pointer;
    background-color: #cfcfcf;
}
.box-1:active{
    background-color: #c1c1c1;
    padding: 10px;
    border-radius: 63px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    transition: transform 0.3s ease;
}
.box-1 h2:active{
    font-size: 20px;
    color:#fff;
    margin: 10px 0;
}
.box-1 p{
    font-size: 14px;
    color: #333;
}

.price {
    font-size: 18px;
    color: #e67e22;
    font-weight: bold;
}
.menu-title{
    font-size: 50px;
    color: #ffffff;
}

.image {
    width: 250px; 
    height: 200px; 
    object-fit: cover; 
    border-radius: 50px;
}

/*Footer*/
footer {
    background-color: #716b60;
    color: white;
    text-align: center;
    padding: 20px 0;
    border-radius: 50px 50px 0 0;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
}

.footer-section {
    flex: 1;
    min-width: 200px;
    padding: 10px;
}

.footer-section h3 {
    margin-bottom: 10px;
    font-size: 22px;
    font-weight: 500;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 8px;
}

.footer-section ul li a {
    color: white;
    text-decoration: none;
}

.footer-section ul li a:hover {
    text-decoration: none;
}

.social-links img {
    width: 50px;
    margin: 5px;
    transition: 0.3s;
    border-radius: 10px;
}
.social-links img:hover {
    transform: translatey(-3px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.social-links a {
    list-style: none;
    text-decoration: none;

}
.copyright {
    margin-top: 15px;
    font-size: 18px;
}
